<div class="row">

  <div  data-ng-repeat="x in records | filter:searchQuery as results track by $index" >
  <div ng-if="x.isArchive=='true'">
                  		<div ng-class="space3col"></div>                  
                    	<div ng-class="view_change" style="padding-right: 0px;padding-left: 0px">
                   		
                   			<div class="todoNoteDiv" id="todoNote" ng-style="{'background-color':x.color}">
                    	
                    	<div id="pinDiv" ng-click="isPin(x,'true')"><img src="Images/pin.svg" style="height: 20px;width:20px" ></div>
                    	<div ng-click="open(x)">
					 		<div id="presentationTitle"data-ng-bind-html="x.title"></div>
					  		<div id="presentationNote" data-ng-bind-html="x.description"></div>
					  	</div>
					  	<div style="display: inline-block; height: 35px;width: 100%" >
					  		<div id="presentationeditRepeat" style="height: 35px">
					  		
						<!--------- reminder div ------------->					  		
					  			<div class="dropdown-toggle editDiv" style="padding: 0px 7px;top: 93%;left:4px;" data-toggle="dropdown" title="Remind me">
					  				<img src="Images/remindericon.svg" >
					  			</div>
					  		
                				<div class="dropdown-menu" style="padding:20px;width: 110%;height: 178%;position: absolute;top: 93%;left: 3px;">
                					<div style="width: 100%;height: 20%;font-size: 17px;font-family: 'Roboto',arial,sans-serif;padding:5px 16px;" >Reminder:</div>
                					<div style="width: 100%;height: 20%;font-size: 16px;font-family: 'Roboto',arial,sans-serif;padding:5px 16px;" ng-click="reminder(x,'today')">Later today<span style="margin-left:120px;color:rgba(0,0,0,.54)">8:00 PM</span></div>
                					<div style="width: 100%;height: 20%;font-size: 16px;font-family: 'Roboto',arial,sans-serif;padding:5px 16px;" ng-click="reminder(x,'tomorrow')">Tomorrow<span style="margin-left: 130px;color:rgba(0,0,0,.54)">8:00 PM</span></div>
                					<div style="width: 100%;height: 20%;font-size: 16px;font-family: 'Roboto',arial,sans-serif;padding:5px 16px;" ng-click="reminder(x,'nextWeek')">nextWeek<span style="margin-left: 130px;color:rgba(0,0,0,.54)">8:00 PM</span></div>
                					<div style="width: 100%;height: 20%;font-size: 16px;font-family: 'Roboto',arial,sans-serif;padding:5px 16px;">Pick date & time</div>
                				</div>
					  	<!-- reminder div -->
					  			<div class="editDivRepeat" title="Collaborator"><img src="Images/cc.svg"></div>
						<!------------ colorDiv Section -------------------------------->
  								<color></color>
						<!----------- colorDiv Section End--------------------------------------------------------->
					  			<div class="editDivRepeat" title="Add image"><img src="Images/img.svg"></div>
					  			<div class="editDivRepeat" title="unarchive" ng-click="isarchive(x,'false')"><img src="Images/archive.svg"></div>
					  			<div class="editDivRepeat" title="More"><img src="Images/list.png"></div>
					  			
					  			<div class="editDivRepeat"  title="Delete" style="margin-top: -2px;margin-left: 3px;">
					  				<button id="doneButton" ng-click="deleteNote(x,'true')" style="float:right;">
					  					<img src="Images/trash.svg">
					  				</button>
					  			</div>
    						</div>
    					</div>
                    	<div ng-if="x.isReminder!=null" style="height: 36px;width: 90%;margin-left: 15px;border-top:2px dotted rgba(0,0,0,0.1)" >
							<div style="color:rgba(0,0,0,.54);font-size: 14px;font-family: 'Roboto',arial,sans-serif;padding-top: 7px "><span style="padding: 3px 7px 7px 4px;"><img src="Images/watchReminder.svg"></span>{{reminderDate}}</div>                    	
                    	</div>
                    </div>
                    </div>
                    </div>
                  		</div>
                  </div> 
                    
 