<div style="width: 40%;height: 221px;margin-left: 30%;margin-top: 10%;border: 1px solid #ccc;">
  <div style="width: 100%;height: 45px;display: inline-block;font-size: 20px;vertical-align: top;font-family: Roboto,Arial,sans-serif;padding: 10px 32px;border-bottom: 1px solid #ccc;">Find Your Account</div>
	gggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
  <div style="width:100%;height:45px">
	<div style="width:100%;padding: 20px 10px 20px 15px;float:left">
		Please check your email for a message with your code. Your code is 6 numbers long
    </div>
 </div>
</div>