<div class="row">
	<div ng-class="space3col"></div>                  
    <div ng-class="view_change" style="padding-right: 0px;padding-left: 0px">
		<div id="pinWord" style="margin-bottom: 4%;margin-top: 2%;">Pinned</div>
	</div>
</div>	

<div class="row">
  <div  data-ng-repeat="x in records | filter:searchQuery as results track by $index" >
  	<div ng-if="x.pin=='true'">
                <div ng-class="space3col"></div>                  
                 <div ng-class="view_change" style="padding-right: 0px;padding-left: 0px;" ng-style="{'width':colLg4}">
                   		<div class="todoNoteDiv" id="todoNote" ng-style="{'background-color':x.color}">
                    		<div id="pinDiv" ng-click="isPin(x,'false')" style="display: block"><img src="Images/colorPin.svg" style="height: 20px;width:20px;"></div>
                    		<div ng-click="open(x)">
					 			<div id="presentationTitle"data-ng-bind-html="x.title"></div>
					  			<div id="presentationNote" data-ng-bind-html="x.description"></div>
					  		</div>
					  		<div style="display: inline-block; height: 35px;width: 100%" >
					  			<div id="presentationeditRepeat" style="height: 35px">
					  				<div class="editDivRepeat" title="Remind me"><img src="Images/remindericon.svg"></div>
					  				<div class="editDivRepeat" title="Collaborator"><img src="Images/cc.svg"></div>
			<!--------------------- colorDiv Section----------------------------------------------------------------->
  									<color></color>
			<!--------------------- colorDiv Section End--------------------------------------------------------->
					  				<div class="editDivRepeat" title="Add image"><img src="Images/img.svg"></div>
					  				<div class="editDivRepeat" title="Archive" ng-click="isarchive(x,'true')"><img src="Images/archive.svg"></div>
					  				<div class="editDivRepeat" title="More"><img src="Images/list.png"></div>
					  				<div  class="editDivRepeat"  title="Delete">
					  					<button id="doneButton" ng-click="deleteNote(x,'true')" style="float:right;">
					  						<img src="Images/trash.svg">
					  					</button>
					  				</div>
    							</div>
    						</div>
                    	</div>
                    </div>
                    </div>
                 </div>
               </div> 
                    

