<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navigationBar" >
    <div class="container-fluid"  >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span aria-hidden="true"><div style="float: left;padding-top: 4px;padding-left: 10px;"><img src="Images/navigationBarImages/menu.svg" alt="Sidemenu"></div></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div style="float:left;padding-top: 20px;"><img style="height: 24px;width: 74px;margin-left: 35px;" src="Images/googleLogo.svg"></div>
        	<div id="keppName" style="float:left;padding-top: 20px;">Keep</div>
        	<div style="height:48px;width:52%; float: left;margin-top: 10px;margin-left: 5%;border-radius: 5px;">
            	<div style="float: left;height:46px;width:54px;">
                   <button type="submit" id="searchButton" style="float: left;height:46px;width:54px;padding: 10px;" ><img style="height: 24px;width: 24px;margin-right: 35px;" src="Images/icons8-Search-20.png"></button>
             	</div>
            	<div style="float: left;height:46px;width:666px;">
					<input style="float: left;height:46px;width:666px;border: none;background-color: transparent;" type="text" placeholder="Search..." id="query" name="search" value="" ng-model="searchQuery">
           		</div>
           		<!-- <div style="float: left;height:46px;width:54px;">
                   <button type="submit" id="searchButton" style="float: left;height:46px;width:54px;padding: 10px;" ><img style="height: 24px;width: 24px;margin-right: 35px;" src="Images/icons8-Delete-20.png"></button>
             	</div>
           		 -->
             </div>
            <ul class="nav navbar-nav navbar-right ulcss" >
                <li><a id="refresh"><span aria-hidden="true"><img ng-click="refresh()" src="Images/navigationBarImages/refresh.svg" alt="refresh"></span></a></li>
				<li>
					<a id="viewOntoggle">
					<!-- <img id="list" ng-style="list" ng-click="list_view()" src="image/list.svg"> </img>
                    <img id="grid" ng-style="grid" ng-click="grid_view()" src="image/grid.svg"></img> -->
						<span aria-hidden="true" ng-hide="gridviewImg"><img id="gridview" ng-style="gridview"  ng-click="gridview()" src="Images/list.svg" alt="grid"></span>
						<span aria-hidden="true" ng-hide="listviewImg"><img id="listview" ng-style="listview"  ng-click="listview()" src="Images/navigationBarImages/grid.svg"  alt="list"></span>
					</a>
				</li>
             	<li><a href="#"><span aria-hidden="true"><img src="Images/navigationBarImages/notification.png" alt="notification"></span></a></li>
                
                <li>
                	<a class="dropdown-toggle" data-toggle="dropdown" >
                		<!-- <div class="profileDiv" ng-bind="userName"></div> -->
                		<!-- <img style="width:200px; height:200px;" ng-src="{{imageSrc}}" /> -->
                		<img ng-src="{{imageSrc}}" style="border-radius: 50%" height="32px" width="32px" alt="userIcon">
                	</a>
                	<div class="dropdown-menu profilePic" >
                		<div style="height: 96;width:100%;padding: 20px">
                			<div style="height: 96px;width:116px;float:left" ng-click="openProfilepic()">
                				<img src="Images/pooja.jpg" style="border-radius: 50%" height="96px" width="96px" alt="userIcon">
                				<!-- <div class="innerProfilePicDiv">{{userName}}</div> -->
                			</div>
                			<div style="height: 96px;width:156px;float:left"></div>
                		</div>
                		<div style="height: 35%;width: 100%;margin-top: 5px;background: #f5f5f5;border-top: 1px solid #ccc;border-color: rgba(0,0,0,.2);display: table;padding: 10px 0px">
                			<button>Sign out</button>
                		</div>
                	</div>
                </li>
             
                
               <!--  <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out</a></li> -->
            </ul>
            
		</div>
        </div>
</nav>
<!-- <navigationbar></navigationbar> -->
<div id="wrapper" class="toggled">
    <div class="container-fluid" id="sidebarContainerFluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: #e8e8e8">
            <ul class="sidebar-nav">
              	<li class="sidebar-brand">
                    <br>
                </li>
               <br>
                <li>
                    <a ui-sref="ToDoHomePage"><img style="height: 24px;width: 24px ;margin-right: 35px;" src="Images/noteicon.png"> Note</a>
                </li>
                <br>
                 <li>
                    <a href="#"><img style="height: 24px;width: 24px;margin-right: 35px;" src="Images/remindericon.svg">Reminders</a>
                </li>
                
                <hr style="height: 1px;color:red;background-color: black">
                                
                <li>
                    <a ui-sref="archive"><img style="height: 24px;width: 24px;margin-right: 35px;" src="Images/archive.svg"> Archive</a>
                </li>
                <br>
                <li>
                    <a ui-sref="trash"><img style="height: 24px;width: 24px;margin-right: 35px;" src="Images/trash.svg">Trash</a>
                </li>
             
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

<!-- profile popup div-->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="margin-top: 35px;" data-ng-blur="ShowHide1()">
            <div class="container-fluid" id="pageContainerfluid">
                <div class="row" ng-show="createEditableNote">
                	<div class="col-lg-2">
                    </div>
                    <div class="col-lg-8" style="margin-top: 30px;padding-right: 0px;padding-left: 0px">
                   		<!-- card division -->
                      	<div contenteditable1 contenteditable="true" class="presentation"  data-ng-show = "IsVisible1" data-placeholder="Take a note..." data-ng-click="ShowHide()" id="initialTitle"><div class="presentationDiv"><img style="height: 24px;width: 24px" src="Images/pen.svg"></div><div class="presentationDiv"><img style="height: 24px;width: 24px" src="Images/List_menu.png"></div><div class="presentationDiv"><img style="height: 24px;width: 24px" src="Images/img.svg"></div></div>
					  	
					  	<!-- /card division  -->
					  	
					  	<!--this is editable division, this division will show when click card division -->
					  	<div data-ng-show="IsVisible" ng-style="{'background-color':createColor}" class="presentation1">
					  		<div ng-show="pinImg" id="pinDiv1" ng-click="createPinup('true')"><img src="Images/pin.svg" style="height: 20px;width:20px" ></div>
					  		<div ng-show="unpinImg" id="pinDiv1" ng-click="createPinup('true')"><img src="Images/colorPin.svg" style="height: 20px;width:20px" ></div>
					 		<div contenteditable1 contenteditable="true" placeholder="Title" data-ng-model="title"  id="presentationTitle"></div>
					  		<div  contenteditable1 contenteditable="true" placeholder="Take a note..." data-ng-model="note" id="presentationNote"></div>
					  		
					  		<div id="presentationedit" style="display:inline-block;">
					  		
					  			<!--------- reminder div ------------->	
					  			<div class="dropdown-toggle editDiv" data-toggle="dropdown" title="Remind me">
					  				<img src="Images/remindericon.svg" >
					  			</div>
					  		
                				<div class="dropdown-menu" style="width: 44%;height: 183%;position: absolute;top: 93%;left: 3px;">
                					<div style="height: 46px;width: 300px;font-size: 14px;padding: 15px;font-family: 'Roboto',arial,sans-serif;">Reminder:</div>
                					<div style="height: 35px;width: 300px;background-color: yellow;">
                						<input ng-model="date2" datetime-picker date-format="yyyy-MM-dd" date-only /> 
                					</div>
                					<div style="height: 35px;width: 300px;background-color: red;"></div>
                					<div style="height: 35px;width: 300px;background-color: yellow;"></div>
                					<div style="height: 35px;width: 300px;background-color: red;"></div>
                					<div style="height: 35px;width: 300px;background-color: yellow;"></div>
                				</div>
					  			<!--------- reminder div ------------->	
					  			<div class="editDiv" title="Collaborator"><img src="Images/cc.svg" ></div>
					  			<div class="editDiv" title="Collaborator" style="padding: 6px 0px 0px 0px;"><color ></color></div>
					  			
					  			<div class="editDiv" title="Add image"><img src="Images/img.svg" ></div>
					  			<div class="editDiv" title="Archive" ng-click="createArchive('true')"><img src="Images/archive.svg" ></div>
					  			<div class="editDiv" title="More"><img src="Images/list.png" ></div>
					  			
					  			<div class="editdivButton">
					  				<button id="doneButton" ng-click="createNote()">
					  					DONE
					  				</button>
					  			</div>
					  		</div>
					  	</div>
					 </div>
                    </div>	
                    <div class="col-lg-2">
                    </div>
                </div>
                <br>
                <br>
                <div class="row" style="color:red"  >
                 <!--  <div  data-ng-repeat="x in records | filter:searchQuery" >
                  		<div ng-class="space3col"></div>                  
                    	<div ng-class="view_change" style="padding-right: 0px;padding-left: 0px">
                   			<div ng-include="'template/view.html'"></div>
                  		</div>
                  </div> -->
                  <div class="col-lg-2" ng-style="{'width':colLg2}"></div>
                  <div class="col-lg-10" style="padding-right: 0px;padding-left: 0px;">
                  	<div ng-show="pinupHtml" ng-include="'template/pinup.html'"></div>
                  	<div ng-show="viewHtml" ng-include="'template/view.html'"></div>
                  	<div ng-show="trashHtml" ng-include="'template/trash.html'"></div>
                  	<div ng-show="archiveHtml" ng-include="'template/archive.html'"></div>
                  </div>
                </div>
                </div>
        </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

<script type="text/javascript">
$("#menu-toggle").click(function(e) {
	console.log("inside the toggele");
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>