#page-content-wrapper {
		padding: 40px;
		/* width: 75%; */
		/* height: 100%; */
		background-color: #e8e8e8;
}

.modal-content {
    margin-top: 25%;
}

.editDiv
{
	height: 34px;
	width:34px;
	/* border:1px solid red; */
	float:left;
	margin:0px 8px;
	padding: 6px;
}

.editdivButton
{
	float: right;
    margin-right: 28px;
    padding: 8px 10px;
    height: 34px;
    width: 62px;
}

.editDivRepeat
{
	height: 34px;
	width:34px;
	/* border:1px solid red; */
	float:left;
	margin: 0px 1px;
    padding: 0px 12px;
}

.editDivRepeatColor
{
	height: 34px;
	width:34px;
	/* border:1px solid red; */
	float:left;
	margin: 0px 1px;
    padding: 0px 12px;
}

.editDivRepeatColor:hover #showColorPopup
{
	display: block;
}

#pageContainerfluid, #sidebarContainerFluid, #wrapperDiv{
		background-color: #e8e8e8;
		visibility: visible;
}

.presentation{
  width: 83%;
/*   height: 120px; */
  padding: 8px;  
	/* margin: auto; */
  background: #FFF;
  margin-top: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  transition: all 0.3s; 
  /* border-radius: 3px; */
  display: inline-block;
}

.presentationDiv
{
	height: 32px;
    width: 48px;
    padding: 2px 10px;
    /* border: 1px solid red; */
    float: right;
    margin: 0px 6px;
    background-size: 24px 24px;
}

#initialTitle[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color:gray;
  font-family: 'Roboto Slab','Times New Roman',serif;
  font-size: 17px;
}

.presentation1{
  width: 85%;
/*   height: 120px; */
/*   padding: 20px;*/  
 /*  margin: auto; */
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  transition: all 0.3s; 
  /* border-radius: 3px; */
}

#presentationTitle1{
  width: 100%;
  height: 238px;
  background: transparent;
  color:black;
  font-family: 'Roboto Condensed',arial,sans-serif;
  line-height: 23px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s; 
  padding: 11px;
}

#presentationTitle{
  width: 100%
	/*   height: 120px; */
	
  /* padding: 11px; */
  background: transparent;
  color:black;
  font-family: 'Roboto Condensed',arial,sans-serif;
  line-height: 23px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s; 
  padding: 11px;
}
#presentationTitle[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color:gray;
  font-family: 'Roboto Condensed',arial,sans-serif;
  line-height: 23px;
  font-weight: bold;
  font-size: 18px;
}

#presentationNote{
  width: 100%;
/*   height: 120px; */
  padding: 11px;
  background: transparent;
  color:black;
  line-height: 19px;
  min-height: 46px;
  font-family: 'Roboto Slab','Times New Roman',serif;
  font-size: 18px;
  padding: 12px 15px 15px 15px;
  transition: all 0.3s;
}
#presentationNote[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color:gray;
  font-family: 'Roboto Slab','Times New Roman',serif;
  font-size: 17px;
}

#presentationedit
{
	width: 100%;
	/*   height: 120px; */
  	padding: 5px;
  	background: transparent;
   	transition: all 0.3s; 
}

#presentationeditRepeat
{
	 width: 104%;
	/*   height: 120px; */
  	background: transparent;
   	transition: all 0.3s; 
	display: none;
}


.presentation:hover{
  box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
  transition: all 0.2s;
  transform: translateZ(10px);
}

#doneButton
{
	background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: #000;
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}

.todoNoteDiv{
      width: 94%;
  /*  height: 120px; 
  padding: 20px;  
  margin: auto;  */
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s; 
  border-radius: 3px;
}

.todoNoteDiv1:hover{
  	box-shadow: 0 6px 20px rgba(0,0,0,0.25), 0 4px 6px rgba(0,0,0,0.22);
    transition: all 0.2s;
    transform: translateZ(6px);
}

.todoNoteDiv1{
  /*     width: 94%; */
  /*  height: 120px; 
  padding: 20px;  
  margin: auto;  */
  background: #FFF;
   margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* transition: all 0.3s; */ 
 /*  border-radius: 3px; */ 
}

.todoNoteDiv1:hover #pinDiv
{
	 display : block;
}

.todoNoteDiv1:hover #presentationeditRepeat{
   display : block;
 }

#pinDiv1
{
	float: right;
	height: 6%;
	width: 14%;
	    padding: 10px 0px 0px 54px;
}

#pinDiv
{
	float: right;
	height: 6%;
	width: 14%;
	padding: 5px 0px 0px 14px;
	display : none;
}

.todoNoteDiv:hover #pinDiv
{
	 display : block;
}

.todoNoteDiv:hover #presentationeditRepeat{
   display : block;
   -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
 }


.dropdown-menu{
	width: 317px;
    height: 319%;
	position: absolute;
    top: 85%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    
    
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border-radius: 4px; */
   
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}


.profileDiv
{
	border-radius: 50%;
    background-color: transparent;
    height: 32px;
    width: 32px;
    padding: 2px 0px 0px 5px;
    font-weight: bold;
    font-size: 30px;
}
.innerProfilePicDiv
{
	border-radius: 50%;
    background-color: yellow;
    height: 50px;
    width: 50px;
    padding: 2px 0px 0px 9px;
    font-weight: bold;
    font-size: 33px;

}

#pinWord
{
	color: rgba(0,0,0,.54);
    font-family: 'Roboto',arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 3%; */
}

#trashWord
{
	cursor: default;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgba(0,0,0,.87);
    font-family: 'Roboto',arial,sans-serif;
     float: left;
    
}
#trashEmpty
{
	font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    padding: 5px 14px;
    text-transform: uppercase;
    color: #4081f5;
    float: left;
}


#toast-container{
   background-color:black;
}

.toast-success{
   	background-color: black;
    height: 46px;
    width: 184%;
}

.col-lg-4 {
    width: 29%;
    padding-right: 0px;
    padding-left: 0px;
    
}

.col-lg-8 {
    width: 67.666667%;
    margin-left: 4%;
}


#profileimage
{
	
    marging: 20px 20px;
    opacity: 10px;
    margin-left: 184px;
    margin-top: 34px;
    width: 228px;
    height: 221px;
}

#collaboratorButton
{
	background: none!important;
    border: none;
    font-family: 'Roboto',arial,sans-serif;
    cursor: pointer;
    float: right;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    font-weight: bold;
    padding: 5px 57px;
    text-transform: uppercase;
}

.scrapeUrlTitle
{
    float: left;
    width: 160px;
    height: 24px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto Condensed',arial,sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom:5px;
    color: rgba(0,0,0,.87);	
}

.scrapeUrlHost
{
	float:left;
	width:138px;
	height:21px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: rgba(0,0,0,.54);
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto',arial,sans-serif;
}

.scrapeUrlImage
{
	height: 26px;
    width: 26px;
    float: left;
    padding: 3px 14px;
}

.scrapeUrlImagePopup
{
	height: 29px;
    width: 29px;
    float: right;
    padding: 6px 13px;
    margin-right: 20px;
    margin-top: 10px;
}